<div id="<%= dom_id booking %>">
  <p>
    <strong>First name:</strong>
    <%= booking.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= booking.last_name %>
  </p>

  <p>
    <strong>Pet name:</strong>
    <%= booking.pet_name %>
  </p>

  <p>
    <strong>Pet type:</strong>
    <%= booking.pet_type %>
  </p>

  <p>
    <strong>Expected fee:</strong>
    <%= booking.expected_fee %>
  </p>

  <p>
    <strong>Time span:</strong>
    <%= booking.time_span %>
  </p>

  <p>
    <strong>Date of service:</strong>
    <%= booking.date_of_service %>
  </p>

</div>
