<div id="<%= dom_id booking %>">
  <p>
    <strong>Owner name:</strong>
    <%= booking.last_name %>, <%= booking.first_name %>
  </p>

  <p>
    <strong>Pet name:</strong>
    <%= booking.pet_name %>
  </p>

  <p>
    <strong>Pet type:</strong>
    <%= booking.animal&.name %>
  </p>

  <p>
    <strong>Booking fee:</strong>
    <%= number_to_currency(booking.expected_fee) %>
  </p>

  <p>
    <strong>Booking duration:</strong>
    <%= booking.time_span %> hours
  </p>

  <p>
    <strong>Date of service:</strong>
    <%= booking.date_of_service.strftime("%B %d, %Y at %I:%M %p") %>
  </p>

  <% if booking.booking_past_due_date? %>
    <p style="color: red;">
      <strong>Booking is past due</strong>
    </p>
  <% end %>
</div>
