<p style="color: green"><%= notice %></p>

<h1><%= @account ? "Bookings for #{@account.name}" : "Bookings" %></h1>

<div style="margin-bottom: 20px;">
  <% if @account %>
    <%= link_to "Create new booking", new_account_booking_path(@account) %> |
    <%= link_to "Back to account", account_path(@account) %>
  <% else %>
    <%= link_to "New booking", new_booking_path %>
  <% end %>
</div>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <p>
      <%= link_to "Show this booking", booking %>
    </p>
  <% end %>
</div>
