<p style="color: green"><%= notice %></p>

<h1><%= @account ? "Your Upcoming Bookings" : "Upcoming Bookings" %></h1>

<div style="margin-bottom: 20px;">
  <% if @account %>
    <%= link_to "Create new booking", new_account_booking_path(@account) %> |
    <%= link_to "Back to account", account_path(@account) %>
  <% else %>
    <%= link_to "New booking", new_booking_path %>
  <% end %>
</div>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <div id="<%= dom_id booking %>" style="border: 2px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 10px; background-color: #f0f0f0; width: 30%;">
      <%= render booking %>
      <div style="display: flex; gap: 10px;">
        <%= button_to "Edit this booking", edit_booking_path(booking), method: :get, style: "background-color:rgb(32, 100, 172); color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer;" %>
        <%= button_to "Destroy this booking", booking_path(booking), method: :delete, form: { style: "display: inline" }, style: "background-color:rgb(198, 29, 29); color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer;" %>
      </div>
    </div>
  <% end %>
</div>
