<p style="color: green"><%= notice %></p>

<%= render @booking %>

<div>
  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "Back to bookings", account_bookings_path(@booking.account) %>

  <%= button_to "Destroy this booking", @booking, method: :delete %>
</div>
