<p style="color: green"><%= notice %></p>

<h1><%= @account ? "Animals for #{@account.name}" : "Animals" %></h1>

<div id="animals">
  <% @animals.each do |animal| %>
    <%= render animal %>
    <p>
      <%= link_to "Show this animal", animal %>
    </p>
  <% end %>
</div>

<% if @account %>
  <%= link_to "New animal", new_account_animal_path(@account) %> |
  <%= link_to "Back to account", account_path(@account) %>
<% else %>
  <%= link_to "New animal", new_animal_path %>
<% end %>
